Goal of this case study is to predict survivors based on Titanic dataset and compare different alghoritms with different hiperparameters. At the end we can choose the best one for this task.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/home/dawid/Dokumenty/Data Science Pro/Zjazd 9/titanic.csv', decimal=',')
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,home.dest
0,3,0,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.55,NaN,S,NaN
1,3,0,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.25,NaN,S,"East Providence, RI"
2,3,0,"Abbott, Mr. Rossmore Edward",male,16.0,1,1,C.A. 2673,20.25,NaN,S,"East Providence, RI"
3,3,1,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.25,NaN,S,"East Providence, RI"
4,3,1,"Abelseth, Miss. Karen Marie",female,16.0,0,0,348125,7.65,NaN,S,"Norway Los Angeles, CA"

1. Data preparation

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1046 entries, 0 to 1045
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1046 non-null   int64
 1   survived   1046 non-null   int64
 2   name       1046 non-null   object
 3   sex        1046 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1046 non-null   int64
 6   parch      1046 non-null   int64
 7   ticket     1046 non-null   object
 8   fare       1045 non-null   float64
 9   cabin      272 non-null    object
 10  embarked   1044 non-null   object
 11  home.dest  685 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 98.2+ KB

In [4]:
y = data['survived'] #it's our variable that we'd like to predict

In [5]:
data['ticket'].unique() #it's something like ID of ticket, we can't reasonably 
#use this information

array(['C.A. 5547', 'C.A. 2673', '348125', '348122', 'P/PP 3381',
       'SOTON/O2 3101284', '2657', 'C 7076', '341826', '7546', '392091',
       '2699', '248744', '3474', 'SOTON/O2 3101287', 'SOTON/O.Q. 3101311',
       'SOTON/O.Q. 3101312', '24160', '373450', '113781', '2223',
       '350046', 'C 4001', '19952', '347082', '3101281', '347091',
       '350043', '347075', '347466', '231945', 'C.A. 34050', '13502',
       '112050', '349202', '226875', '11769', '349237', '349911',
       'PC 17609', '244346', 'SOTON/O.Q. 3101310', '347077', '350054',
       '2696', '2692', 'SOTON/O.Q. 3101309', 'PC 17757', '2627', '2694',
       'PC 17477', '347468', '2687', '2679', '3101278', '2666',
       'A/4 31416', '2623', '29108', 'C.A. 31030', '349248', '28551',
       'C.A./SOTON 34068', '2663', '2691', '19877', '27042', '330844',
       '324669', 'S.O.P. 1166', 'PC 17558', '11813', '2908', '13050',
       '244358', '323951', '230136', '11751', '248698', '111369',
       '347068', '28404', 'PP 4348', '28425', '2648', '1601', 'PC 17483',
       '312992', '13905', '11967', 'PC 17760', '347090', '110564',
       '113784', '112277', '36928', '113783', '110489', '349224',
       '237670', '2678', '364849', 'PC 17608', '54636', '211535',
       '113505', '220367', '334914', '113054', '347471', 'PC 17591',
       '3460', 'A/5 21171', '350045', '364512', '248733', '29750',
       'PC 17610', '236853', '329944', '330920', '365222', '16966',
       '330963', '27849', '234686', '113050', '244310', '236852',
       '315087', '315084', '315091', '315089', 'PC 17476', '248738',
       '315093', '315086', 'F.C.C. 13528', '364846', '364858', 'PC 17606',
       'A./5. 2152', '28424', 'PC 17755', '350042', '350409', '695',
       '367231', '368364', '113059', '113760', '244252', '392095',
       '19924', '343275', 'W.E.P. 5734', '113806', '248731',
       'SC/AH 29037', 'A/5. 13032', '110152', 'PC 17594', '343276',
       '237789', '2680', '13508', '2003', 'SOTON/O.Q. 3101307',
       'A/5 3540', '371109', '349210', '349209', 'W./C. 14263', '248740',
       '28034', '5727', 'C.A. 31921', 'PC 17756', '21332', '335097',
       '370373', '330972', '370369', 'A/5 3536', 'W./C. 14266', '349230',
       '349229', '349231', '237249', 'SOTON/OQ 392090', '11770', '29107',
       'C.A. 37671', '364500', 'S.P. 3464', '371362', 'WE/P 5735',
       '112901', '315090', 'PC 17599', '2698', '7598', '7552', '349228',
       '382650', '382651', '113055', '347080', '113804', '349219',
       '349203', 'F.C. 12750', 'C.A. 33112', 'A/4 48871', 'S.O.C. 14879',
       'SC/A4 23568', 'A/4 48873', '237668', '244360', '345572', '345774',
       '345778', 'C.A. 2315', 'SC/PARIS 2167', '349250', 'C.A. 31029',
       'A/5 21172', 'A/5 21175', '330958', '17474', '349232', '315088',
       '349226', '33638', '231919', '370376', 'A/5. 10482', 'PC 17761',
       '364516', '28403', '368702', 'SOTON/OQ 392083', '349241', '28220',
       '336439', '11755', 'PC 17485', 'PC 17580', 'S.O./P.P. 752',
       'SC/PARIS 2149', 'SC/PARIS 2148', '347072', '11767', '349912',
       '29751', '347074', '347061', '2675', '2690', '2695', 'A/5 3902',
       '236854', '36947', 'PC 17531', 'C.A. 6212', '236171', '367232',
       '2926', 'C.A. 15185', '350036', 'PC 17474', '330910', 'W./C. 6608',
       '113051', '19950', '229236', 'PC 17611', '17765', '13567', '13568',
       '237671', '113803', '239865', '28664', '36864', '243880', '31028',
       '111320', '113503', '112378', 'PC 17593', 'C.A. 30769', '28133',
       '28134', '248726', '14973', '233866', '12233', '35851', '250646',
       '17453', 'PC 17754', '363291', 'SOTON/O.Q. 3101263',
       'SOTON/O.Q. 3101306', 'CA 2144', '113780', '112053', 'PC 17582',
       '21440', '250647', 'PC 17759', '8471', '7534', '3101276',
       '3101277', '347069', '349236', 'AQ/3. 30631', 'STON/O2. 3101279',
       '250653', '250649', '345769', '2693', '350026', '350025', '350029',
       '248746', '11765', '374887', '248727', 'PC 17572', 'S.W./PP 752',
       '36973', 'W/C 14208', '112059', 'F.C.C. 13529', '12749', '113038',
       '347089', '365226', 'STON/O2. 3101282', 'STON/O2. 3101290', '7548',
       '349243', '347086', '220845', '248706', '250650', '680', '111361',
       '3101298', '29105', '29104', '242963', '250643', '26707', 'C 7075',
       '113789', '111426', 'STON/O2. 3101283', '237798', '24065', '19943',
       '348121', 'SCO/W 1585', '2685', '113572', 'SO/C 14885',
       'STON/O2. 3101270', 'STON/O2. 3101271', 'PC 17595', '112058',
       '243847', '349240', '350034', '237565', 'C.A. 33111', '350050',
       '350047', '350048', 'SC/AH Basle 541', '3101264', '347070',
       '350052', '7540', '347063', '347467', '347742', 'LINE', '347062',
       '694', '349204', '350417', '350408', '113044', '4136', '4137',
       'STON/O 2. 3101286', 'STON/O 2. 3101274', '8475', '244367',
       '349246', '350053', '347465', '350060', 'F.C.C. 13534', '349256',
       '2682', '233734', '330911', '363592', '223596', '11771', '17464',
       '11753', '315153', '315152', '315151', '219533', '350405',
       '350404', '2654', 'C.A. 18723', '250651', '4135', 'C 7077',
       'SC/Paris 2123', '347065', '7545', '347067', '17465', '2620',
       'SC 1748', 'STON/O 2. 3101292', '2683', 'C.A. 34260',
       'SC/Paris 2163', 'C.A. 29566', '345781', '347071', '347073',
       '17475', '349910', 'STON/O 2. 3101285', '112377', 'PC 17592',
       '235509', 'A/5. 3336', '113501', '113801', 'SC/AH 3085',
       'A/5 21173', '315098', '347743', '347469', '350403', 'PC 17569',
       'S.O./P.P. 3', 'C 17369', 'STON/O 2. 3101275', '110469',
       'STON/O 2. 3101268', 'S.C./PARIS 2079', '364850', '349213',
       '349257', '113773', '28228', '239059', 'PC 17482', '17463',
       '237216', '233478', 'PC 17473', '330923', '9232', '376566',
       '250644', 'SW/PP 751', 'A.5. 11206', '248723', 'PC 17604',
       '345501', '13509', '234360', '19928', '349233', '349211', '349207',
       'C.A. 24580', '13236', '348123', '113787', '211536', '392096',
       '113796', '29011', '250655', '364506', '382653', '347078',
       '240276', '349206', '2667', '2653', 'A./5. 3338', '237736',
       'PC 17596', '230080', '244368', '35273', '11752', '693', '2651',
       '3101297', '363611', '347066', '347470', '350410',
       'SOTON/O2 3101272', 'STON/O 2. 3101289', '218629', 'A/4. 39886',
       'SC/PARIS 2166', '2697', 'C.A. 29395', '347081', '345364', '7267',
       '347085', 'PC 17758', 'C 17368', '4579', '350407', '347464',
       '347079', '6563', '315085', '315096', '315094', '349244', '113509',
       '28213', 'PC 17562', 'W./C. 14260', '244278', 'SC/PARIS 2147',
       '349909', '3101295', 'SC 14888', '230433', '113043', '315097',
       '358585', '349242', 'SOTON/O.Q. 3101315', '113776',
       'STON/O 2. 3101294', 'STON/O 2. 3101291', '28665', 'A/5 21174',
       '347083', '237393', '342441', '349245', '349212', '347076',
       '347087', '113786', 'S.O./P.P. 2', 'SOTON/O.Q. 392078', '234604',
       '315095', '315092', 'C.A. 34644', '110465', 'SC/PARIS 2168',
       '26360', 'C.A. 17248', '349249', '31027', '19972', '230434',
       '342684', '382652', 'SC/PARIS 2133', '29106', 'W./C. 14258',
       'STON/O 2. 3101273', 'A/5. 3337', 'PC 17590', '28004', '111428',
       '370129', 'PC 17613', 'PC 17585', '13049', 'PC 17603', 'A/5 3594',
       '113790', 'C.A. 31026', 'A/4. 20589', '2672', 'SOTON/O.Q. 3101262',
       'CA. 2343', '7266', '343120', '3101296', 'PP 9549', '345768',
       'A/5. 2151', '342826', '248659', '244361', '113798', '113794',
       '345779', '250652', 'PC 17475', '13507', '13213', '250648', '2669',
       '349251', 'STON/O 2. 3101280', '3101265', '237442', '347088',
       '234818', '28206', '113788', '113792', '31418', '17764', '13695',
       '21228', 'C.A. 29178', '348124', 'A.5. 18509', 'STON/OQ. 369943',
       '13214', '349239', 'CA. 2314', 'A/4 45380', '237734', '113514',
       '11778', 'F.C.C. 13540', '3701', '349205', '7553',
       'STON/O 2. 3101288', '315083', '347054', 'SOTON/OQ 392089',
       'STON/O 2. 3101269', 'SOTON/OQ 392076', '36963', '347060', '7538',
       '350035', '248734', '17466', '110413', '19996', '350033', '17421',
       '363294', '2625', 'STON/O 2. 3101293', '364499', 'F.C.C. 13531',
       '364511', '2650', '233639', '240929', '34218', '2543', '349247',
       '4138', '4134', '11668', 'PC 17601', 'A/5. 851', '111240',
       '345773', '345780', '345770', '345783', '345765', '345764',
       '345763', '2658', '28221', '350416', '350406', '349252', '345767',
       '36967', 'CA 31352', '28666', '110813', 'C.A. 33595', '27267',
       '113800', '228414', '29103', '345775', 'C.A. 34651', '2688',
       'C.A. 24579', '35281', '347064', '3101267', '3101266', '244270',
       '363272', '113795', 'PC 17597', 'SOTON/OQ 3101317', '315154',
       '345771', '220844', '113807', '2659', '2628', '248747', '2665',
       '2656', '2670', '315082'], dtype=object)

In [6]:
data.drop(columns='ticket', axis=1, inplace=True)

In [7]:
data.drop(columns='fare', axis=1, inplace=True)
#First thing we can see is that fare - ticket price is object Dtype and should be float. 
#But I decided not to use this variable at all, beacouse: 1) we can't be sure about currency and
#correctness (probably it's the summarized price for all people from the ticket) 
#AND this variable is higly correlated with cabin and pclass.

In [8]:
#There is big amount of Nan's BUT it could be very useful information so we'll try to do sth
#We'll only use the letter sign - we assume that it's a deck designation. 
data.cabin.str[0].value_counts()

C    86
B    63
D    42
E    38
A    19
F    18
G     5
T     1
Name: cabin, dtype: int64

In [9]:
data["deck"] = data.cabin.str[0].fillna("Unknown").replace({"G":"F", "T":"F"})
#There is very little
#samples in classes T and G so we can add them to class F. Nan's we turn into class Unknown.

In [11]:
data.drop(['cabin'], axis=1, inplace=True) #now we can delete column cabin

In [12]:
data['embarked'].fillna(data['embarked'].value_counts().index[0], inplace=True)
#Column 'embarked' it's the port from which passengers departed. It seems as usefull information
#but it's probably highly correlated with cabin (now deck) and it's probably more informative but 
#on the other hand it can be more informative for us than ID's of cabins that we've alreade 
#established it's hard to locate on ship
#We'll use this column and fill Nan's with most common value which is 'S'. There is only 2 Nan's
#so it shouldn't be a mistake.

In [13]:
#home.dest (home destination) is the column that 
#we will not use as it does not carry any information related to the disaster

In [14]:
X = pd.get_dummies(data [['pclass', 'sex', 'age', 'sibsp', 'parch', 
                          'embarked', 'deck']], drop_first=True)
X.head() #'sex','embarked' and 'deck' are categorical columns so they should be encoded.

,pclass,age,sibsp,parch,sex_male,embarked_Q,embarked_S,deck_B,deck_C,deck_D,deck_E,deck_F,deck_Unknown
0,3,42.0,0,0,1,0,1,0,0,0,0,0,1
1,3,13.0,0,2,1,0,1,0,0,0,0,0,1
2,3,16.0,1,1,1,0,1,0,0,0,0,0,1
3,3,35.0,1,1,0,0,1,0,0,0,0,0,1
4,3,16.0,0,0,0,0,1,0,0,0,0,0,1

2. Modeling

2.1 Decision Tree Classifier

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)
#now we split data into training and testing. We can assume basing on dataset size that 80:20 
#should be correct ratio

In [56]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold, StratifiedKFold

In [25]:
model_dt = DecisionTreeClassifier()
model_dt.fit(X_train, y_train)
y_pred_dt = model_dt.predict(X_test)
accuracy_score(y_test, y_pred_dt)
#~70% accuracy when we fit Decision Tree Classifier without parameter optimization

0.719047619047619

In [41]:
np.arange(1, 21)

array([ 2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20])

In [52]:
kfold = StratifiedKFold(10, shuffle=True, random_state=123)

model_dt = DecisionTreeClassifier(min_samples_leaf=10)
params = {"min_samples_leaf": np.arange(1, 21),
          'max_depth': [np.arange(1, 16), None],
         'criterion': ['gini', 'entropy']}
optimizer_dt = GridSearchCV(model_dt, 
                         params, 
                         scoring="accuracy", 
                         cv=kfold, 
                         n_jobs=-1)
optimizer_dt.fit(X_train, y_train)

y_pred_dt = optimizer_dt.best_estimator_.predict(X_test)
print(optimizer_dt.best_params_)
print(accuracy_score(y_test, y_pred_dt));

{'criterion': 'gini', 'max_depth': None, 'min_samples_leaf': 5}
0.7904761904761904

/home/dawid/anaconda3/lib/python3.9/site-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
400 fits failed out of a total of 800.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
400 fits failed with the following error:
Traceback (most recent call last):
  File "/home/dawid/anaconda3/lib/python3.9/site-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/home/dawid/anaconda3/lib/python3.9/site-packages/sklearn/tree/_classes.py", line 937, in fit
    super().fit(
  File "/home/dawid/anaconda3/lib/python3.9/site-packages/sklearn/tree/_classes.py", line 305, in fit
    if max_depth <= 0:
ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/home/dawid/anaconda3/lib/python3.9/site-packages/sklearn/model_selection/_search.py:969: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan 0.74156627 0.7619191  0.79420539 0.80378657
 0.81695353 0.80979633 0.81219162 0.79783419 0.80021515 0.79426277
 0.79188181 0.78479633 0.78242972 0.78359151 0.76924842 0.77279116
 0.76447217 0.76206254 0.76204819 0.75847676        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.75596672 0.76316695 0.79307229 0.80738669 0.81693919 0.80499139
 0.81454389 0.79901033 0.80140562 0.79301492 0.78587206 0.78353414
 0.77878657 0.77874355 0.76322433 0.76798623 0.76325301 0.7668101
 0.76800057 0.76322433]
  warnings.warn(

In [55]:
model_dt = DecisionTreeClassifier(criterion='gini', max_depth=None, min_samples_leaf=5)
model_dt.fit(X_train, y_train)
y_pred_dt = model_dt.predict(X_test)
accuracy_score(y_test, y_pred_dt)
#Decision Tree Classifier with optimal parameters. Accuracy increases to ~79%

0.7904761904761904

2.2 Logistic regression

In [60]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [61]:
model_lr = LogisticRegression()
model_lr.fit(X_train, y_train)
y_pred_lr = model_lr.predict(X_test)
accuracy_score(y_test, y_pred_lr)
#~78% accuracy when we use Linear Regression model without optimization

/home/dawid/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7857142857142857

In [68]:
#Optimization
kfold = StratifiedKFold(10, shuffle=True, random_state=123)

pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('model', LogisticRegression(solver='saga'))
])
params = [
    {
        'model__penalty': ['none']
    },
    {
        'model__penalty': ['l1', 'l2'],
        'model__C': [0.01, 0.1, 1, 10, 100, 1000]
    }
]

optimizer_lr = GridSearchCV(pipeline,
                           params,
                           scoring='accuracy',
                           cv=kfold,
                           n_jobs=-1)
optimizer_lr.fit(X_train, y_train)
optimizer_lr.best_params_

{'model__C': 0.1, 'model__penalty': 'l2'}

In [70]:
pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('model', LogisticRegression(penalty='l2', C=0.1))
])
pipeline.fit(X_train, y_train)
y_pred_lr = pipeline.predict(X_test)
accuracy_score(y_test, y_pred_lr)
#after optimization we are at the same level of accuracy

0.7714285714285715